<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.karl.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:name=".DevApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DemoForDev"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".android.CoordinatorLayoutActivity"
            android:exported="false">

        </activity>
        <activity
            android:theme="@style/Theme.DemoForDev.NoActionBar"
            android:name=".third.BannerActivity"
            android:exported="false" />

        <activity
            android:name=".android.MotionLayout4Activity"
            >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".demo.ScrollViewListenerDemoActivity" />
        <activity android:name=".demo.ViewToImageActivity" />
        <activity android:name=".demo.OkHttpUtilsDemoActivity" />
        <activity android:name=".demo.HtmlDemoActivity" />
        <activity android:name=".demo.WeatherDemoActivity" />
        <activity android:name=".demo.LoginActivity" />
        <activity android:name=".demo.RegisterActivity" />
        <activity android:name=".demo.TodoMainActivity" />
        <activity android:name=".demo.LotteryDemoActivity" />
        <activity android:name=".demo.MQTTDemoActivity" />
        <activity android:name=".third.SmartRefreshLayoutActivity" />
        <activity android:name=".demo.BackKeyDemoActivity" />
        <activity android:name=".android.PopWindowActivity" />
        <activity android:name=".tools.OpacityActivity" />
        <activity android:name=".ToolsPageActivity" />
        <activity
            android:name=".demo.ScrollViewDemoActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".DemoActivity" />
        <activity android:name=".third.MMKVActivity" />
        <activity android:name=".android.PreferencesDataStoreActivity" />
        <activity
            android:name=".android.MotionLayoutActivity"
            android:theme="@style/Theme.DemoForDev.NoActionBar" />
        <activity
            android:name=".android.MotionLayout2Activity"
            android:theme="@style/Theme.DemoForDev.NoActionBar" />
        <activity
            android:name=".android.MotionLayout3Activity"
            android:theme="@style/Theme.DemoForDev.NoActionBar" />
        <activity android:name=".third.JsoupActivity" />
        <activity android:name=".third.FlexboxLayoutActivity" />
        <activity android:name=".ThirdLibActivity" />
        <activity android:name=".android.ViewOutlineProviderActivity" />
        <activity android:name=".AndroidActivity" />
        <activity
            android:exported="true"
            android:theme="@style/Theme.DemoForDev.NoActionBar"
            android:name=".MainActivity" >
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".demo.DrawPixelActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>